* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #111;
}

.container {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

h1 {
  margin: 2rem;
  text-align: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1000;
}

.tab li {
  background: #eee;
}

.tab li.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tab a {
  padding: 10px 30px;
  display: block;
  outline: none;
}

.tab_content {
  /* border: 1px solid #999; */
  border-top: none;
}
